html{
    font-size: 1vw;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

body{
    /*background-color: #121212;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/eetp-478.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.transparent-background {
    background-color: rgba(18, 18, 18, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

h2{
    color: #ffff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

input, select{
    background-color: #212121;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #616161;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:#616161;
}

img{
    width: 200px;
    height: 200px;
}
/*
svg{
    width: 200px;
    height: 200px;
}

#gear:hover {
	animation: spin 3s alternate infinite;
}
@keyframes spin {
	100% {transform: rotate(360deg);
	}
}
*/
.big-box{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    max-height: 600px;
    max-width: 470px;
    width: 98%;
    min-width: 300px;
    border-radius: 7px;
    flex-wrap: wrap;
    padding: 2%;
}



.contenedor-inputs{
    
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}

.input-100{
    width: 100%;
    margin: 10px;
}

.btn-enviar{
    background: #0074E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    color: #fff;
    
    padding: 10px 40px;
    cursor: pointer;
}

    .btn-enviar:hover{
        background: #288AE8
    }

    .btn-enviar:active{
        background: #3D95EA;
    }

