::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #616161;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
option:hover{
    background: #212121;
    cursor: pointer;
}

table{
    min-width: 300px;
    border-radius: 0.5vh;
    background-color: #616161;
    max-width: 760px;
    margin: 1vh;
}

.contenedor{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-box{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    min-height: 320px;

    width: 70%;
    min-width: 300px;
    border-radius: 1vh;
    flex-wrap: wrap;
    padding: 2%;
    overflow-y: auto;
}

.input-48{
    width: 48%;
    margin: 1vh;
}

img{
    width: auto;
    height: 25vh;
    margin: 1vh;
}

.table-header {
    background-color: #0074E4;
    color: #ffffff;
    padding: 0.2rem;
    width: 5%;
    height: 5%;
    font-size:calc(5px + 1.5vh);
    border-radius: 6px; 
}

.table-row {
    background-color: #CBCBCB;
    color: #616161;
    padding: 0.2vh;
    width: 15%;
    height: 15%;
    border-radius: 0.4vh;
    text-align: center;
    font-size:calc(5px + 1.5vh);    
}

tr:hover{
    background-color: #ffffff;
    color: #000000;
}