html{
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

span{
    color: white;
}

table{
    min-width: 320px;
    border-radius: 0.5rem;
    background-color: #616161;
    max-width: 760px;
}

h2{
    color: #ffff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

body{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

option:hover{
    background: #212121;
    cursor: pointer;
}

input, select{
    background-color: #CBCBCB;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #616161;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:#616161;
    text-align: center;
    
}

textarea{
    background-color: #CBCBCB;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #616161;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:#616161;
    text-align: flex-start;
    
    width: 100%;
    padding-bottom: 10em;
    max-width: 93%;
}


img{
    max-width:160px;
    height:auto;
    margin: 10px;
    padding: 10px;
}

.big-box{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    max-width: 860px;
    width: 98%;
    min-width: 300px;
    border-radius: 7px;
    flex-wrap: wrap;
    
    margin: 1%;
    padding: 1%;
}

.smol-box{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: fit-content;
    max-width: 430px;
    width: 98%;
    min-width: 250px;
    border-radius: 7px;
    flex-wrap: wrap;
    
    margin: 1%;
    padding: 1%;
}

.embebed-page{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-width: 860px;
    width: clamp(300px, 98%, 860px);
    
    border-radius: 7px;
    flex-wrap: wrap;
    
    margin: 1%;
    padding: 1%;
}

.contenedor-inputs{
    
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-enviar{
    background: #0074E4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    color: #fff;
    
    padding: 10px 40px;
    cursor: pointer;
}

    .btn-enviar:hover{
        background: #288AE8
    }

    .btn-enviar:active{
        background: #3D95EA;
}

.input-100{
    width: 100%;
    margin: 10px;
    max-width: 93%;
}

.input-48{
    width: 48%;
    margin: 10px;
    max-width: 43%;
}

.table-header {
    background-color: #0074E4;
    color: #ffffff;
    padding: 0.2rem;
    width: 5%;
    height: 5%;
    font-size: 1.1rem;
    border-radius: 6px; 
}

.table-row {
    background-color: #CBCBCB;
    color: #616161;
    padding: 0.2rem;
    width: 15%;
    height: 15%;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
}
